.header {
    display : flex;
    width: 80%;
    background-color: #8a2b06;
    align-items:center;
    justify-content:space-between;
    padding: 0 10%;
    color:white
}

.image {
    width : 100%;
    height: 25rem;
}

.image img {
    width : 100%;
    height : 100%;
    object-fit: cover;
}